<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SongSketch</title>

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="assets/css/lux.css" id="theme-color">
    <!--- My Scripts-->
</head>
<body>


<!--Generic section-->
<section class="py-7 bg-dark">
    <div class="container">
            <div class="col-12 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Your Artwork</h2>
                            <img src={{ my_url }}>
                            <small>keywords: {{ keywords }}</small>
                            <a href="/" class="btn btn-primary" id="advance_button" style="visibility:hidden;">
                                Home
                            </a>
                        </div>
        </div>
  </div>
</div>
</section>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>


</body>
</html>