<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>SongSketch</title>

    <!-- Bootstrap CSS / Color Scheme -->
    <link rel="stylesheet" href="assets/css/lux.css" id="theme-color">
    <!--- My Scripts-->
    <script>
        function showStuff() {
            document.getElementById("advance_button").style.visibility="visible";
        }
            setTimeout("showStuff()",45000);

        function hideStuff() {
            document.getElementById("fake_button_1").style.visibility="hidden"
            document.getElementById("spinner11").style.visibility="hidden";
        }
            setTimeout("hideStuff()",45000);
    </script>
</head>
<body>


<!--Generic section-->
<section class="py-7 bg-dark">
    <div class="container">
            <div class="col-12 mx-auto">
                    <div class="card">
                        <div class="card-body">
                            <h2 class="card-title">Loading</h2>
                            <div class="text-muted font-weight-medium mt-2"> </div>
                            <ul class="list-unstyled pricing-list">
                                <li>Creating your artwork now, when it's finished, a button will appear below this message.</li>
                                <li>This should take about one minute. DO NOT CLOSE THIS WINDOW.</li>
                            </ul>
                            <div class="spinner-border" role="status" id="spinner"><span class="sr-only">Loading...</span></div>
                            <a href="final" class="btn btn-primary" id="advance_button" style="visibility:hidden;">
                                Finish
                            </a>
        </div>
  </div>
</div>
</section>

<!--scroll to top-->
<div class="scroll-top">
    <i class="fa fa-angle-up" aria-hidden="true"></i>
</div>


</body>
</html>